<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <input class="form-control" type="text" placeholder="Enter repository name" aria-label="Search"
          [(ngModel)]='repository' name='repository' (keyup) = 'getRepo()' >
     </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor='let repo of userInterface.items'>
      <div class="panel panel-group">
        <h5 class="panel-heading">{{repo.name}}</h5>
        <p class="panel-body">{{repo.description}}</p>
        <div>
          <a href="{{repo.html_url}}" class="btn btn-sm btn-outline-dark">View on Github</a>
        </div>
        <p></p>
        <p>Created <i class='fa fa-calendar'></i> : {{repo.created_at | datePassed}}</p>
      </div>
    </div>
  </div>
</div>
