<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <input class="form-control" type="text" placeholder="Enter repository name" aria-label="Search"
          [(ngModel)]='repository' name='repository' (keyup)='getRepo()'>
      </form>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-4" *ngFor='let repo of userInterface.items'>
      <div class="panel panel-default">
        <h3 id='rp' class="panel-heading text-info " >{{repo.name}}</h3>
        <div class="panel-body">
          <p>
            {{repo.description}}
          </p>
          <div>
            <a href="{{repo.html_url}}" class="btn btn-sm btn-outline-dark">View on Github</a>
          </div><br>
          <p><b>Forks : </b><span class='badge badge-pill badge-danger'>  {{repo.forks}}</span></p>
          <p><b>Created </b> <i class='fa fa-calendar'></i> : {{repo.created_at | datePassed}}</p>
        </div><hr>
      </div>
    </div>
  </div>
</div>
