<div class="container">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search username" name="username" [(ngModel)]="username" (keyup)='findProfiles()'>
    </div>
  </form>

  <!-- User -->
  <div id='User' *ngIf='user'>
    <div class="panel panel-collapse">
      <div class="panel-heading">
        <h5><b>Name:</b> {{user.name}}</h5>
        <p><b>Username:</b> {{user.login}}</p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 ">
            <img src="{{user?.avatar_url}}" alt="Profile image" height="200px"class='img-responsive'>
          </div>
          <div class="col-sm-5 ">
            <ul class="list-group">
              <li class="list-group-item" *ngIf='user.bio'><b>Bio:</b> {{user.bio}} </li>
              <li class="list-group-item" *ngIf='user.email'><a href="mailto:{{user.email}}"
                  target="_blank">{{user.email}}</a></li>
              <li class="list-group-item"><b> Public Repos  </b> <span
                  class='badge badge-pill badge-info'>  {{user.public_repos}}</span></li>
            </ul>
          </div>
          <div class="col-sm-4 ">
            <div>
              <p>
                Following <span class='badge badge-pill badge-secondary'>{{user.following}}</span>
                Followers <span class='badge badge-pill badge-secondary'>{{user.followers}}</span>
              </p>
            </div>
            <p><a href="{{user.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
<!-- Repos -->
  <div class="row">
    <div class="col-md-4" *ngFor='let repo of repo'>
      <div class="panel panel-collapse">
      <h6 class="panel panel-heading "><b>{{repo.name}}</b></h6>
      <div class="panel-body">
        <p>{{repo.description}}</p>
        <div><a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-info">View
            this project on github</a>
        </div><br>
        <p>Created <i class='fa fa-calendar'></i> : {{repo.created_at | datePassed}}</p>
      </div>
    </div>
  </div>
</div>
