<div class="container">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search username" name="username">
    </div>
  </form>

  <!-- User -->
  <div id='User' *ngIf='user'>
    <div class="panel panel-collapse">
      <div class="panel-heading">
        <h5><b>Name:</b> {{user.name}}</h5>
        <p><b>Username:</b> {{user.login}}</p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 ">
            <img src="{{user?.avatar_url}}" alt="Profile image" height="200px" class='img-responsive'>
          </div>
