<div class="container">
  <form #userForm='ngForm'>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search username" name="userName"
      #username='ngModel' [(ngModel)]="userName" (keyup)='findProfiles()'>
    </div>
  </form>

  <!-- User -->
  <div id='User' *ngIf='user'>
    <div class="panel panel-collapse">
      <div class="panel-heading">
        <h5><b>Name:</b> {{user.name}}</h5>
        <p><b>Username:</b> {{user.login}}</p>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 ">
            <img src="{{user?.avatar_url}}" alt="Profile image" height="200px" class='img-responsive'>
          </div>
          <div class="col-sm-5 ">
            <ul class="list-group">
              <li class="list-group-item" *ngIf='user.bio'>{{user.bio}} </li>
              <li class="list-group-item" *ngIf='user.email'><a href="mailto:{{user.email}}"
                  target="_blank">{{user.email}}</a></li>
              <li class="list-group-item"> Public Repos <span
                  class='badge badge-pill badge-info'>{{user.public_repos}}</span></li>
            </ul>
          </div>
          <div class="col-sm-4 ">
            <div>
              <p>
                Following <span class='badge badge-pill badge-secondary'>{{user.following}}</span>
                Followers <span class='badge badge-pill badge-secondary'>{{user.followers}}</span>
              </p>
            </div>
            <p><a href="{{user.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
